<h1>NLTK Word Count Engine</h1>

<form>
  <div class="nltk">
    <label for="url">URL</label>
    {{input value=url id="url"}}
  <button class="btn btn-primary" {{action 'nltkLookup' }}>Submit</button>
  </div>
</form>

