<h1>Tweets Sentimental Analysis</h1>

<form>
  <div class="tweets-sent">
    <label for="Keyword">Keyword</label>
    {{input value=keyword id="keyword"}}
  <button class="btn btn-primary" {{action 'tweetsSentLookup' }}>Submit</button>
  </div>
</form>
