<div class="jumbo">
  <div class="right tomster"></div>
  <h2>API</h2>
  
  <li>
  {{#link-to 'getTweets' target='_bank'}}
    Past Tweets Engine
  {{/link-to}}
  </li>

  <li>
  {{#link-to 'getTweetsSent' target='_bank'}}
    Tweets Sentiment Engine
  {{/link-to}}
  </li>

  <li>
  {{#link-to 'getSent' target='_bank'}}
    Sentiment Analysis Engine
  {{/link-to}}
  </li>

  <li>
  {{#link-to 'getAttitude' target='_bank'}}
    Attitude Analysis Engine
  {{/link-to}}
  </li>

  <li>
  {{#link-to 'getWordCount' target='_bank'}}
    NLTK Word Count Engine
  {{/link-to}}
  </li>

</div>


